body {
    background: url("../images/knitting.png");
  }
  
  .container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
  .userSport {
      display: inline-block;
      margin: 10px;
  }
  
  button.sport {
      border-radius: 12px;
      background-color: #263959;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      margin: 10px 5px 0;
  }
  
  #sport-form {
      margin: 10px 0;
  }
  
  #addSport {
      border-radius: 12px;
      background-color: #1f6d63;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      margin: 5px 0;
  }
  